<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Google Developer Group Birgunj [GDG Birgunj] is a group of developers, Google technology enthusiasts, and Googlers from around mid-terai region, Nepal. We discuss, share our ideas, experiences and plan for events, meetups near.</h3> 
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">"Any sufficiently advanced technology is indistinguishable from magic" Keeping this in our mind we started with only 2 member, Dipesh Kumar & Nitesh Chaurasiya. Google I/O Extended at Kathmandu & Birgunj were one of our first event.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 2013</h4>
                                    <h4 class="subheading">A Community is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Established on November 21, 2013, we have organized 15+ community run events on Birgunj, Jhapa, Ilam etc. All together we were able to introduce 1000+ students and professionals to Google and Android Tech. Our primary events in past were focused on Android, Web, Google Apps, training programs on API’s, Google Maps, YouTube API, Linux & many.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Topic of Discussion</h4>
                                    <h4 class="subheading">Key Google Developer Products</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We gather and discuss about Android - Mobile development (Java)| Google App Engine - scalable cloud computing | Google Chrome | Google Data APIs - YouTube, Google Maps,  Google Map Maker, Calendar, Translator etc | Google Apps: Web-based email, calendar & documents for collaborative study anytime, anywhere.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4><a href="https://picasaweb.google.com/112807703637841959875?noredirect=1" target="_blank">Photos & Gallery</a>Photos & Videos</h4>
                                    <h4 class="subheading">Find your photos here</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Stay Tuned for more events and techno sessions. Didn't find your's. No Problem! Come up with your gang and have a fantastic group selfies at our photo booths.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
