  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <a href="mailto:dipesh009@gmail.com?Subject=Hello%20again" target="_top">dipesh009@gmail.com</a>
			<br>
			<span class="copyright">Copyright &copy; {{ site.title }} 2015</span>
			
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="https://developers.google.com/groups/chapter/112807703637841959875/">Official Page</a>
                        </li>
                        <li><a href="https://developers.google.com/">Google Developers</a>
                        </li>
			
                    </ul>
                </div>
            </div>
        </div>
    </footer>
