<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Join the Awesomeness Now</h2>
                    <h3 class="section-subheading text-muted">Be part of awesome community that runs awesome tech events </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Help-Us Out</h4>
                    <p class="text-muted">Become our sponsor, partner or a friend</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><a href="https://developers.google.com/groups/chapter/112807703637841959875/" target="_blank">Chapter Page</a></h4>
                    <p class="text-muted">Learn about upcoming events</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><a href="https://mail.google.com/a/gdgbirgunj.org/" target="_blank">Member Login</a></h4>
                    <p class="text-muted">Our Member Portal For Awesome Products And Features</p>
                </div>
		
		
            </div>
        </div>
    </section>
